.foto {
    width: 1000px;
}
.foto img {
    width: 1000px;
}
.logo{
    display: flex;
    justify-content: space-between;
    padding-right: 25px;
}
.logo img {
    width: 200px;
}
.text {
    color: red;
    font-size: 30px;
    font-weight: bold;
}
.text_my {
    color: aqua;
    font-size: 50px;
}
.video_my {
    color: gold;
    font-size: 30px;
}
.video_myy {
    color: blueviolet;
    font-size: 50px;
}
.app {
    text-align: center;
    margin-top: 100px;
  }
  
  .clock {
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
  }
  
